main {
    padding: 0;
}

/*                              scroll bar style                   */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-grey-medium);
    margin-top: 25px;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-grey-dark);
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}