.popup {
    margin: auto;
    width: 100%;
    padding: 10px 20px;
    color: var(--color-black);
}

/*                   header                  */

.popup .header {
    margin-bottom: 42px;
}

.popup .header h1 {
    font-size: 38px;
    line-height: 44px;
    margin-top: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup .header .explication {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 10px;
}

.popup .container {
    display: block;
    border-top: 2px solid rgba(73, 74, 125, 0.32);
}

/*                      left side                     */

.popup .w-layout-grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.popup .form-grid {
    grid-column-gap: 44px;
    grid-row-gap: 44px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

.popup .column {
    position: relative;
    padding-top: 48px;
    padding-bottom: 120px;
    border-right: 2px solid rgba(73, 74, 125, 0.32);
}

.popup .step-wrap {
    position: relative;
}

.popup .counter-top {
    position: relative;
    display: flex;
    padding-right: 48px;
    padding-bottom: 32px;
    padding-left: 30px;
    justify-content: flex-end;
    align-items: center;
}

.popup .form-text-wrapper {
    color: var(--color-grey-dark);
    text-align: right;
}

.popup .form-text-wrapper.active-text-wrapper {
    color: var(--color-black);
}

.popup .display-small {
    font-size: 16px;
    font-weight: 700;
}

.popup .paragraph-form {
    margin-bottom: 0px;
    font-size: 14px;
}

.popup .form-circle {
    position: relative;
    z-index: 5;
    display: flex;
    width: 52px;
    height: 52px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: #494a7d;
}

.popup .form-circle.circle-active {
    background-color: #2db27c;
}

.popup .form-circle-active-img {
    filter: brightness(0) invert(1);
}

.popup .check-symbol {
    position: absolute;
    left: auto;
    top: auto;
    right: -9px;
    bottom: auto;
    width: 8px;
    height: 8px;
    border-style: solid;
    border-width: 4px;
    border-color: rgba(73, 74, 125, 0.32);
    border-radius: 100px;
    background-color: var(--color-grey-light);
}

.popup .check-symbol.form-active {
    background-color: #25cc88;
}

.popup .counter-centre {
    position: relative;
    display: flex;
    padding: 32px 48px 32px 30px;
    justify-content: flex-end;
    align-items: center;
}

.popup .step-line {
    position: absolute;
    left: auto;
    top: 0%;
    right: 73px;
    bottom: 0%;
    width: 2px;
    height: 100%;
    background-color: rgba(73, 74, 125, 0.32);
}

.popup .counter-bottom {
    position: relative;
    display: flex;
    padding-top: 32px;
    padding-right: 48px;
    padding-left: 30px;
    justify-content: flex-end;
    align-items: center;
}

/*                           main content                  */

.popup .content {
    flex: 1;
    padding: 20px;
}

/* general form styling */

.popup fieldset {
    border: none;
    position: relative;
}

.popup .form-card {
    display: flex;
    flex-direction: column;
}

.popup fieldset:not(:first-of-type) {
    display: none;
}

/* form header style */

.popup .form-card .header {
    width: 100%;
    margin-bottom: 32px;
    padding-top: 48px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(73, 74, 125, 0.32);
}

.popup .form-card .header p {
    margin-bottom: 6px;
    font-size: 16px;
}

.popup .form-card .header h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Circularstd, sans-serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.popup .form-card .header p:last-child {
    font-size: 16px;
}

/* form input and button styling */

.popup .text_input {
    height: 30px;
    margin-bottom: 14px;
    padding: 12px 8px;
    border: none;
    border-radius: 8px;
    outline: var(--color-grey-dark) solid 2px;
    background-color: transparent;
    font-size: 16px;
    color: var(--color-black);
}

.popup .text_input::placeholder {
    color: var(--color-grey-dark);
}

.popup .text_input:focus {
    outline: var(--color-purple) solid 2px;
}

.popup .text_input:hover {
    outline: var(--color-purple) solid 2px;
}

.popup .action-button {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    padding: 16px 40px;
    border-radius: 45px;
    background-color: var(--color-purple);
    color: #fff;
    cursor: pointer;
    border: none;
    float: right;
}

.popup .action-button:hover, .popup .action-button:focus {
    background-color: #2db27c;
}

.popup .action-button-previous {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    padding: 16px 36px;
    border-radius: 45px;
    background-color: var(--color-grey-light);
    color: var(--color-black);
    cursor: pointer;
    border: none;
    float: right;
}

.popup .action-button-previous:hover, .popup .action-button-previous:focus {
    color: var(--color-purple);
}

.popup textarea {
    resize: none;
}

/* form radio style */

.popup .type_stage_radio {
    display: inline-flex;
    height: 54px;
    align-items: center;
    justify-content: space-between;
}

.popup .type_stage_radio .type_stage {
    background: transparent;
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 8px;
    outline: var(--color-grey-dark) solid 2px;
    transition: all 0.3s ease;
}

.popup .type_stage_radio .type_stage .dot {
    height: 20px;
    width: 20px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    margin-right: 12px;
}

.popup .type_stage_radio .type_stage .dot::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: var(--color-grey-light);
    border-radius: 50%;
    opacity: 0;
    transform: scale(1.5);
    transition: all 0.3s ease;
}

.popup .type_stage_radio input[type="radio"] {
    display: none;
}

.popup #type_stage_1:checked:checked~.type_stage_1,
.popup #type_stage_2:checked:checked~.type_stage_2 {
    outline: var(--color-purple) solid 2px;
}

.popup #type_stage_1:checked:checked~.type_stage_1 .dot,
.popup #type_stage_2:checked:checked~.type_stage_2 .dot {
    background: var(--color-purple);
}

.popup #type_stage_1:checked:checked~.type_stage_1 .dot::before,
.popup #type_stage_2:checked:checked~.type_stage_2 .dot::before {
    opacity: 1;
    transform: scale(1);
}

.popup .type_stage_radio .type_stage span {
    font-size: 16px;
    color: var(--color-grey-dark);
}

.popup #type_stage_1:checked:checked~.type_stage_1 span,
.popup #type_stage_2:checked:checked~.type_stage_2 span {
    color: var(--color-black);
}

/* input upload style */

.popup .input_upload_container {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 14px;
    border-radius: 45px;
}

.popup .input_upload_container:after {
    content: attr(data-text);
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    padding: 10px 15px 10px 25px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 40px;
    line-height: 40px;
    color: #8687a8;
    border-radius: 45px;
    font-weight: 300;
    outline: #494a7d dashed 2px;
}

.popup .input_upload_container:before {
    content: "Upload";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: #4daf7c;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 12px;
    line-height: 60px;
    padding: 0 40px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 45px;
}

.popup .input_upload_container:hover:before {
    background: #3d8c63;
}

.popup .input_upload_container input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}