/* general form styling */

form {
    margin-top: 20px;
    width: 50vw;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

form fieldset {
    background: white;
    border: none;
    border-radius: 0.5rem;
    width: 100%;
    padding-bottom: 20px;
    position: relative;
}

.form-card {
    display: flex;
    flex-direction: column;
}

form fieldset:not(:first-of-type) {
    display: none;
}

/* form header style */

.form-card .header p {
    margin-bottom: 4px;
}

.form-card .header hr {
    margin: 30px 0;
    color: grey;
}

/* form input and button styling */

form .text_input {
    height: 30px;
    margin-bottom: 14px;
    padding: 12px 8px;
    border: none;
    border-radius: 8px;
    outline: green solid 2px;
}

form .text_input:focus {
    outline: #673AB7 solid 2px;
}

form .text_input:hover {
    outline: #9b70e4 solid 2px;
}

form .action-button {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    padding: 16px 44px;
    border-radius: 45px;
    background-color: #494a7d;
    color: #fff;
    cursor: pointer;
    border: none;
    float: right;
}

form .action-button:hover, form .action-button:focus {
    background-color: #311B92;
}

form .action-button-previous {
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    padding: 16px 36px;
    border-radius: 45px;
    background-color: white;
    color: gray;
    cursor: pointer;
    border: none;
    float: right;
}

form .action-button-previous:hover, form .action-button-previous:focus {
    color: black;
}

/* input upload style */

.input_upload_container {
    position: relative;
    width: 100%;
    height: 60px;
    margin-bottom: 14px;
}

.input_upload_container:after {
    content: attr(data-text);
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    padding: 10px 15px 10px 25px;
    display: block;
    width: calc(100% - 40px);
    pointer-events: none;
    z-index: 20;
    height: 40px;
    line-height: 40px;
    color: black;
    border-radius: 45px;
    font-weight: 300;
    outline: green dashed 2px;
}

.input_upload_container:before {
    content: "Upload";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 60px;
    background: #4daf7c;
    color: #fff;
    font-weight: 700;
    z-index: 25;
    font-size: 12px;
    line-height: 60px;
    padding: 0 40px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 45px;
}

.input_upload_container:hover:before {
    background: #3d8c63;
}

.input_upload_container input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 40px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

/*                          progress bar                     */

#progressbar {
    text-align: center;
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #673AB7;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    float: left;
    position: relative;
    font-weight: 400;
}

#progressbar #entreprise:before {
    font-family: FontAwesome;
    content: "\f0f7";
}

#progressbar #encadrant:before {
    font-family: FontAwesome;
    content: "\f007";
}

#progressbar #sujet:before {
    font-family: FontAwesome;
    content: "\f05a";
}

#progressbar #binome:before {
    font-family: FontAwesome;
    content: "\f0c0";
}

#progressbar #deposer:before {
    font-family: FontAwesome;
    content: "\f093";
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1;
}

#progressbar li.active:before, #progressbar li.active:after {
    background: #673AB7;
}