main {
    padding: 0;
}

.chat_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

/* === CONVERSATIONS === */

.chat_container .discussions {
    width: 35%;
    overflow: hidden;
    display: inline-block;
    border-right: solid 1px var(--color-grey-medium);
}

.chat_container .discussions .discussion {
    width: 100%;
    height: 90px;
    background-color: var(--color-grey-light);
    border-bottom: solid 1px var(--color-grey-medium);
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*          search        */

.chat_container .discussions .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat_container .discussions .search .searchbar {
    height: 40px;
    background-color: var(--color-white);
    width: 70%;
    padding: 0 20px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.chat_container .discussions .search .searchbar input {
    margin-left: 15px;
    height: 38px;
    width: 100%;
    border: none;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

/* discussion card */

.chat_container .discussions .message-active {
    background-color: var(--color-white);
    border-left: solid 1px var(--color-grey-light);
}

.chat_container .discussions .discussion .photo {
    margin-left: 20px;
    display: block;
    width: 45px;
    height: 45px;
    background: var(--color-grey-medium);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat_container .desc-contact {
    height: 43px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat_container .discussions .discussion .name {
    margin: 0 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11pt;
    color: var(--color-black);
}

.chat_container .discussions .discussion .message {
    margin: 6px 0 0 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 9pt;
    color: var(--color-black);
}

.chat_container .timer {
    margin: 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    padding: 3px 8px;
    color: var(--color-grey-dark);
    background-color: var(--color-white);
    border: 1px solid var(--color-grey-medium);
    border-radius: 15px;
}

/*            chat              */

.chat_container .chat {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat_container .header-chat {
    background-color: var(--color-white);
    height: 90px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-grey-medium);
    border-right: 1px solid var(--color-grey-medium);
    border-bottom: 1px solid var(--color-grey-medium);
    border-top-right-radius: 25px;
}

.chat_container .chat .header-chat .photo {
    margin-left: 30px;
    width: 50px;
    height: 50px;
    display: block;
    background-color: var(--color-grey-medium);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat_container .chat .header-chat .name {
    margin-left: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    color: var(--color-black);
}

/* main chat body */

.chat_container .chat .messages-chat {
    padding: 25px 10px 25px 35px;
    flex: 1;
    overflow-y: auto;
}

.chat_container .chat .messages-chat .message {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.chat_container .chat .messages-chat .message .photo {
    display: block;
    width: 45px;
    height: 45px;
    background: var(--color-grey-medium);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat_container .chat .messages-chat .text {
    background-color: var(--color-grey-medium);
    margin: 0 20px;
    padding: 15px;
    border-radius: 25px;
    max-width: 30vw;
    word-wrap: break-word;
    white-space:pre-wrap;
}

.chat_container .text-only {
    margin-left: 45px;
}

.chat_container .time {
    font-size: 10px;
    color: lightgrey;
    margin-bottom: 10px;
    margin-left: 65px;
}

.chat_container .response-time {
    float: right;
    margin-right: 20px;
}

.chat_container .response {
    float: right;
    margin-right: 0px;
    margin-left: auto;
}

.chat_container .response .text {
    background-color: #e3effd !important;
}

/* chat body footer */

.chat_container .footer-chat {
    height: 70px;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--color-grey-medium);
}

.chat_container .footer-chat form {
    width: 100%;
    display: flex;
    align-items: center;
}

.chat_container .footer-chat #write_message {
    margin-left: 35px;
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    flex: 1;
    background-color: var(--color-white);
}

.chat_container .footer-chat #send_message {
    margin-left: 15px;
    margin-right: 35px;
    outline: none;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: var(--color-purple);
    cursor: pointer;
    color: var(--color-white);
}