/* style applied for the whole page */
* {
    padding: 0;
    margin: 0;
}

/* style of the body */
body {
    background-color: white;
    overflow: hidden;
}

#content {
    display: flex;
}

/*                   main content style                   */

main {
    width: 66vw;
    height: calc(100vh - 8vw);
    background-color: grey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1%;
}

/*                       cards                  */

.card {
    width: 27%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    margin: 2% 1% 0 1%;
    height: fit-content;
}

.card:last-child {
    margin-bottom: 20px;
}

.card .card_header {
    display: flex;
    justify-content: space-between;
}

.card .card_header .card_title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 2px;
}

.card .card_header .card_subtitle {
    font-size: 0.8em;
    color: grey;
    margin-bottom: 12px;
}

.card .card_header svg {
    color: gray;
    border-radius: 50%;
    padding: 2px;
    border: 1px solid gray;
}

/*                        card main                        */

.card .card_main .short_descirption {
    font-size: 0.9em;
}

.card .card_main .progress_container {
    margin: 12px 0;
}

.card .card_main .progress_container .progress_header {
    font-size: 0.8em;
    font-weight: 600;
}

.card .card_main .progress_container .progress_bar {
    width: 100%;
    height: 4px;
    border-radius: 6px;
    background-color: #fff;
    margin: 8px 0;
}

.card .card_main .progress_container .progress_bar .progress_indicator {
    display: block;
    height: 4px;
    border-radius: 6px;
}

.card .card_main .progress_container .progress_percentage {
    text-align: right;
    font-size: 0.8em;
    font-weight: 700;
}

/*                      card footer                       */

.card .card_footer {
    border-top: 1px solid gray;
    padding-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card_footer .participants {
    display: flex;
    align-items: center;
}

.card .card_footer .participants img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

.card .card_footer .participants img:not(:first-child) {
    margin-left: -8px;
}

.card .card_footer .participants .add_participant {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    margin-left: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .card_footer .internship_duration {
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 0.7em;
    border-radius: 25px;
    padding: 6px 16px;
    font-weight: 700;
}

/*                              scroll bar style                   */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: grey;
    margin-top: 25px;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(104, 104, 104);
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(87, 87, 87);
}