.container_charts{
	width: 90%;
	margin: auto;
	margin-top: 20px;
	height: 100%;
	

}


.chart{
	background-color: #ffffff;
	
	border-radius: 10px;
	align-items: center;
	margin-bottom:20px;

}

#ch1{
	background-color: #ffffff;
	padding :10px;
	width: 100%;
	
}

#ch2{
	background-color: #ffffff;
	padding :0px;
	width: 40%;
	height: 76.5%;
	display: inline-block;
	margin-left: 50px;
	

}


#ch3{
	background-color: #ffffff;
	padding :5px;
	width: 45%;
	display: inline-block;
	height: 74.4%;
	margin-left: 2px;

	
}
